@media (min-width: 992px){
    .toggle{
        display: flex;
    }

    .toggleMenu{
        display: none;
    }

    .main-text{
        /* display: flex; */
        align-content: center;
        width: 50%;
        font-size: 2em;
        /* justify-content: center; */
    }

    .shop-now{
        font-size: 1.788rem;
        padding: 3rem 0;
    }
    .card{
        height: 70vh;
        /* aspect-ratio: 9/16; */
    }

    .call-to-input{
        font-size: 1.5em;
        }
    .card-info{
        font-size: 1.5vw;
    }

    .promotions{
        align-items: center;
        gap: 1rem;
    }
    .promotions-image{
        width: 60%;
        height: 90%;
    }

    .arrival-catalogue{
        height: fit-content;
    }

    .app-wrapper{
        display: flex;
    }

    .heading{
        font-size: 3rem;
        font-weight: bold;
    }

    .promotions-image img {
        max-height: 40rem;
        object-position: top center;
        border-radius: 1rem
    }
    .app-promotions-image img {
        max-height: 40rem
    }
    
    .mobile{
        display: none;
    }

    .footer-icons{
        gap: 1rem;
        display: flex;
        /* justify-content: space-around; */
    }

    .promotions-text p{
        font-size: 1.2rem;
    }
}