@import url(desktop.css);
@import url(tablet.css);
@import url(mobile.css);

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 100%;
    position: relative
    /* padding-top: 60px; */
}

.row {
    display: flex;
}

.all-flex *{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 1fr .1fr 1.2fr 0.8fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
}
.cta{
    display: inline-block;
    /* background: linear-gradient(to right, #E5E5E5, #333); */
    background: linear-gradient(to right, #303030, #000000);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
}

.cta:hover{
    /* color: #000; */
    background: linear-gradient(to right, #000000, #232323);
}
.nav-bar{
    /* top:0;
    left: 0;
    right: 0; */
    /* height: 60px; */
    /* z-index: 1; */
    /* position: absolute; */
    /* background-color: wheat; */
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 1rem 0.5rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 1200px;
    background-color: #fff;
}

nav ul{
    gap: 1rem;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}
.hero{
    grid-area: 1/1/2/-1;
    width: 100%;
}

.logo{
    align-items: center;
    font-size: 1.3em;
    font-weight: bolder;
}
.logo-image{
    width: 5vw;
}

main{
    display: flex;
    top: 900px;
}
main *{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.main{
    border-radius: 1rem;
    padding: 7rem 0 0 0;
    border-radius: 1rem;
    background: linear-gradient(to right, #E5E5E5, #333);
}

.main-text{
    gap: 1rem;
    padding: 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapper{
    flex-direction: row;
    gap: 1rem;
    align-self: baseline;
    /* padding: 1rem; */
}
.toggleMenu{
    width: 5vw;
}

.customers{
    background-color: #ead86b;
    grid-area: 2/1/3/-1;
}
.customers *{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}
  
.customers ul{
    width: 100%;
    /* justify-content: space-between; */
}
.customers li{
    width: 10vw;
    /* height: 90%; */
    /* background-color: blue; */
}

.arrival-catalogue {
    grid-area: 3/1/4/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-wrapper{
    gap:1rem;
    justify-content: space-around;
    align-content: center;
}
.card-image{
    height: 80%;
}

.card-image img{
    border-radius: 1rem;
}
.card-info{
    /* height: 20%; */
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.card-pointer{
    /* height: 6vh; */
    height: 3em;
}

.explore-now{
    opacity: 0.5;
    /* background-color: #000; */
}

.promotions{
    grid-area: 4/1/5/-1;
    /* background-color: yellow; */
    padding: 1rem;
    background-color: #ead86b;
}

.promotions-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.promotions-text p{
    font-size: 1.2rem;
}

.young-catalogue{
    grid-area: 5/1/6/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app-promotions{
    grid-area: 6/1/7/-1;
    padding: 1rem;
    justify-content: space-around;
}

.app-wrapper{
    gap: 1rem;
}

.store-icon{
    width: 10rem;
    padding: 1rem;
}

.store-icon img{
    border-radius: 5px;
}

.contact-sheet{
    grid-area: 7/1/8/-1;
    padding: 5rem;
    background-color: #ead86b;
}

.form-field{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 1em;
    /* background-color: blue; */
}


.input-container {
    background-color: #f2f2f2;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 20rem;
  }
  
  input[type="email"] {
    flex: 1;
    border: none;
    padding: 10px;
  }
  
  input[type="submit"] {
    margin-left: 10px;
    background-color: #000;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
  }

  .call-to-input{
    font-size: 1.5rem;
    }

    .footer{
        grid-area: 8/1/9/-1;
        /* background-color: red; */
        padding: 6rem 3rem;
        background-color: #000;
        color: #fff;
    }

    footer *{
        display: flex;
    }

    footer{
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }

    .brand-footer,
    .footer-links{
        flex-direction: column;
    }

    .brand-footer{
        gap: 1rem;
    }

    .footer-icons{
        gap: 1rem;
        display: flex;
        justify-content: space-between;
    }
    .footer-links{
        gap: 1rem;
        align-items: center;
    }
    .footer-details{
        gap: 1rem;
        width: 50%;
        justify-content: space-between;
    }

    .footer-details a,
    .brand-footer a{
        text-decoration: none;
        color: #ead86b;
    }

    .footer-details a:hover{
        text-decoration: underline;
    }

    .footer-links .first-child{
        font-size: 1.2rem;
    }

    .footer-contact{
        width: 3rem;
    }

    .footer-contact a{
        color: #fff;
    }
    
/* 

    flex-direction: row;
    gap: 1rem;
    align-self: baseline;
     */

     